@media screen and (max-width: 935px) {
    
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 614px) {
    
    /* Ajustes nos tamanhos */

    .conteudo, .principal, 
    .posts,.post, .stories-bar {
        width: 100%;
    }
    
    .post {
        height: fit-content;
        border-left: none;
        border-right: none;
    }

    .post:last-child {
        margin-bottom: 104px;
    }

    .conteudo {
        margin-right: 0;
    }
    
    .stories-bar {
        margin: 0;
    }

    .principal {
        margin-top: 54px;
    }

    /* Ajustes no navbar */
    
    .navbar {
        justify-content: space-between;
        width: 100vw;
        position: absolute;
    }

    .buscador {
        display: none;
    }

    .atalhos {
        width: auto;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .atalhos > a {
        display: none;
    }

    .atalhos > a:first-child {
        display: block;
    }

    /* Ajustes na logo */

    .logo-mobile {
        display: block;
        margin-left: 20px;
    }

    .logo ion-icon, .logo .separador-logo {
        display: none;
    }

    /* Ajuste de cor */

    .stories-bar {
        background-color: #E5E5E5;
        border: none;
    }

    /* Remove o botão na barra de stories */

    .botoes {
        display: none;
    }

    /* Barra mobile */

    .barra-mobile {
        display: flex;
    }
}